<%= form_for(@question) do |f| %>
  <div class="large-6 columns large-offset-1">
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :name, class: "question-label" %>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :name %> 
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :email, class: "question-label" %>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :email  %> 
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= f.label :q, "Question", class: "question-label" %>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :q %> 
      </div>
    </div>
    <div class="large-2 columns large-offset-2">
      <%= f.submit "Ask Garth", class: "button radius" %>
    </div>
  </div>
<% end %>