<%= form_for(@question) do |f| %>
  <div class="small-5 columns">
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :name, class: "right" %>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :name %> 
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :email, class: "right" %>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :email  %> 
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :q, "Question", class: "right" %>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :q %> 
      </div>
    </div>
    <div class="small-2 columns small-offset-2">
      <%= f.submit "Ask Garth", class: "button radius" %>
    </div>
  </div>
<% end %>