<h1 class="subheader">Choose a Universe to Explore</h1>
<section class="row" id="universes">
  <%= link_to universes_old_kingdom_path, class: "universes-link" do %>
    <div class="large-3 columns universe-div" id="old-kingdom">
      <h2 class="universe-header">
       The Old Kingdom
      </h2>
      <%= image_tag "lirael.jpeg" %>
      <div class="content large-9">
        <em>Five Great Charters knit the land.
        Together linked, hand in hand.
        One in the people who wear the Crown.
        Two in the folk who keep the Dead down.
        Three and Five became stone and mortar.
        Four sees all in frozen water.</em>
      </div>
    </div>
  <% end %>
  <%= link_to universes_aenir_path, class: "universes-link" do %>
    <div class="large-3 columns universe-div" id="seventh-tower">
      <h2 class="universe-header">
        The Seventh Tower
      </h2>
      <%= image_tag "thefall.jpeg" %>
      <div class="content">
        The Seventh Tower is awesome!
      </div>
    </div>
  <% end %>
  <%= link_to universes_the_house_path, class: "universes-link" do %>
    <div class="large-3 columns universe-div" id="keys-kingdom">
      <h2 class="universe-header">
        The Keys to the Kingdom
      </h2>
      <%= image_tag "mistermonday.jpeg" %>
      <div class="content">
        The Keys to the Kingdom is awesome!
      </div>
    </div>
  <% end %>
  <%= link_to universes_trouble_twisters_path, class: "universes-link" do %>
    <div class="large-3 columns universe-div" id="trouble-twisters">
      <h2 class="universe-header">
        Trouble Twisters
      </h2>
      <%= image_tag "troubletwisters.jpeg" %>
      <div class="content">
        Trouble Twisters is awesome!
      </div>
    </div>
  <% end %>
    <div class="universe-button-div">
      <button id="universe-exit">Exit</button>
    </div>
</section>